<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="测试报告套件">
    <test verbose="2" preserve-order="true" name="这些是测试模块">
        <classes>
            <class name="lala.haha">
            </class>
        </classes>
    </test>
    <listeners>
                <listener class-name="lala.ExtentReportng">
            </listener>
    </listeners>
</suite>